#header {
    width: 150px;
    height: auto;
    float: left;
    padding: px;
    margin-top: -20px;
    margin-left: 20px;

}
.navlink {
    text-decoration: none !important;
    font-family: 'Roboto', sans-serif;
    display: inline;
}
li {
    padding: 20px;
    color:#383434;
    text-align: right;
    float: right;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    display: inline;
}
.navlink {
    text-decoration: none !important;
    color: #383434;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    display: inline;
    padding: 20px;
}
#about {
    float: right;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: -480px;
    text-align: right;
}
#hello {
    font-family: 'Open Sans', sans-serif;
    float: right;
    color: #343232;
    font-size: 26px;
    font-family: LucidaFax;
    font-style: Demibold;
    padding-top: 40px;
    margin-top: 60px;
    float: inline-start;
    padding-top: 20px;
    margin-bottom: 20px;
}
#designer {
    color: #343232;
    font-size: 26px;
    font-style: Italic; 
    font-family: 'Open Sans', sans-serif;  
}
#gap {
    margin-top: 50px;
    color: #C72E2E;
    font-size: 28px;
    font-style: American Typewriter;
}
.social {
    float: left;
    margin-left: 10px;
    margin-top: 575px;
}
.footer {
    float: left;
    margin-left: -160px;
    

}
#ig {}
#in {}
#db {}
